#fundo{
    background:#011724  ;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

#caixabranca {    
    background: #FFFF;
    border: #06FAFA solid 4px;
    width: 50%;
    height: 30%;
    border-radius: 1% ;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

#titulo1 {
  
color: #FFFF;
text-align: center;

}
#titulo2 { 
    color: #06FAFA ;
    text-align: center;
}

#perfil{

    border-radius: 50%;
    width: 200px; height: 200px;
    margin-top: 50px;
   

}

#cortitulo3 { 

    color: #00008B;
    text-align: center;
}

.descricao{
    margin-left: 15px;
    width: 80%;
}

@media (max-width: 768px) { 

    .caixabranca
    {
        margin-left: 0px;
    }
    
}